* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 375px) {

    body{
        background-color: #f1f2f6;
        font-family: 'SF Pro Rounded' sans-serif;

    }     

    .header{
        position: absolute;
        width: 100%;
        height: 206px;
        background: #F5F6FA;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 20px 20px;
    }

    .profilo {
        position: absolute;
        width: 100px;
        height: 105px;
        right: 20px;
        top: 50px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .nome{
        position: absolute;
        text-transform: uppercase;
        color: black;
        font-weight: 800;
        font-size: 30px;
        font-family: 'SF Pro Rounded';
        line-height: 36px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        left: 5.6%;
        right: 35.2%;
        top: 40%;
    }
    
    .nome2{
        position: absolute;
        text-transform: uppercase;
        color: #6C63FF;
        font-weight: 800;
        font-size: 30px;
        font-family: 'SF Pro Rounded';
        line-height: 36px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        right: 37.5%;
        top: 40%;
    }

    .creator{
        position: absolute;
        font-family: 'SF Pro Rounded';
        color: #6C63FF;
        font-weight: 500;
        text-align: center;
        line-height: 17px;
        font-size: 14px;
        left: 28px;
        top: 130px;
    }

    .product{
        position: absolute;
        font-family: 'SF Pro Rounded';
        color: black;
        font-weight: 500;
        text-align: center;
        line-height: 17px;
        font-size: 14px;
        top: 130px;
        left: 80px;
    }

    .photographer{
        position: absolute;
        font-family: 'SF Pro Rounded';
        color: #6C63FF;
        font-weight: 500;
        text-align: center;
        line-height: 17px;
        font-size: 14px;
        top: 130px;
        left: 142px;
    }

    .social-container {
        position: absolute;
        width: 161px;
        height: 20px;
        left: 107px;
        top: 206px;
        background: #F5F6FA;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0px 0px 20px 20px;
    }

    #telegram {
        position: absolute;
        left: 15px;
        top: -10px;
        font-size: 23px;
    }

    #telegram:active {
        color: #2b90d9;
    }

    #telegram:hover {
        color: #2b90d9;
    }

    #instagram {
        position: absolute;
        left: 67px;
        top: -10px;
        font-size: 23px;
    }

    #instagram:active {
        background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -text-fill-color: transparent; 
    }

    #instagram:hover {
        background: linear-gradient(#405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -text-fill-color: transparent; 
    }

    #instagram:visited{
        background: black;
    }

    #email {
        position: absolute;
        left: 120px;
        top: -12px;
        font-size: 22px;
    }

    #email:active{
        color: #cd201f;
    }

    #email:hover{
        color: #cd201f;
    }

    .setup{
        position: absolute;
        width: 331px;
        height: 76px;
        left: 0;
        top: 259px;
        background: #f5f6fa;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px 20px 20px 0px;
    }

    .title-setup{
        position: absolute;
        text-transform: uppercase;
        left: 10px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: black;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .title2-setup{
        position: absolute;
        text-transform: uppercase;
        left: 52px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #6C63FF;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .subtitle-setup{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 10px;
        top: 47px;
    }

    .subtitle2-setup{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 146px;
        top: 47px;
    }

    .subtitle3-setup{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 181px;
        top: 47px;
    }

    .foto-setup{
        position: absolute;
        width: 90px;
        height: 70px;
        right: 10px;
        top: 5px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .benq {
        position: absolute;
        width: 331px;
        height: 76px;
        right: 0;
        top: 365px;
        background: #f5f6fa;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 0px 0px 20px;
    }

    .title-benq{
        position: absolute;
        font-family: 'SF Pro Rounded';
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        line-height: 29.83px;
        text-transform: uppercase;
        color: #6C63FF;
        top: 10px;
        right: 175px;
    }

    .title2-benq{
        position: absolute;
        font-family: 'SF Pro Rounded';
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        line-height: 29.83px;
        text-transform: uppercase;
        color: #000;
        top: 10px;
        right: 10px;
    }

    .subtitle-benq{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        right: 65px;
        top: 45px;
    }

    .subtitle2-benq{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        right: 10px;
        top: 45px;
    }

    .foto-benq{
        position: absolute;
        width: 68px;
        height: 40px;  
        right: 250px;
        top: 20px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .lention{
        position: absolute;
        width: 331px;
        height: 76px;
        left: 0;
        top: 467px;
        background: #f5f6fa;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 0px 20px 20px 0px;
    }

    .title-lention{         
        position: absolute;
        text-transform: uppercase;
        left: 10px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #6C63FF;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .title2-lention{
        position: absolute;
        text-transform: uppercase;
        left: 120px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: black;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .subtitle-lention{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 10px;
        top: 45px;
    }

    .subtitle2-lention{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 140px;
        top: 45px;
        text-transform: uppercase;
    }

    .subtitle3-lention{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 198px;
        top: 45px;
    }

    .subtitle4-lention{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 220px;
        top: 45px;
    }

    .foto-lention{
        position: absolute;
        width: 65px;
        height: 65px;
        right: 7px;
        top: 5px;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.15));
    }

    .paypal{
        position: absolute;
        width: 331px;
        height: 76px;
        right: 0;
        top: 571px;
        background: #f5f6fa;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px 0px 0px 20px;
    }

    .title-paypal{
        position: absolute;
        text-transform: uppercase;
        right: 51px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #000;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .title2-paypal{
        position: absolute;
        text-transform: uppercase;
        right: 10px;
        top: 10px;
        font-family: 'SF Pro Rounded';
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #6C63FF;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .subtitle-paypal{
        position: absolute;
        color: black;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        left: 55px;
        top: 45px;
    }

    .subtitle2-paypal{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        right: 165px;
        top: 45px;
    }

    .subtitle3-paypal{
        position: absolute;
        color: #000;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        right: 55px;
        top: 45px;
    }

    .subtitle4-paypal{
        position: absolute;
        color: #6C63FF;
        font-weight: 400;
        font-size: 15px;
        font-family: 'SF Pro Rounded';
        line-height: 17.9px;
        text-align: center;
        right: 10px;
        top: 45px;
    }

    .foto-paypal{
        position: absolute;
        top: 16px;
        width: 35px;
        height: 45px;
        left: 10px;
    }



    /*.testo-footer{
        position: fixed;
        color: #000;
        font-size: 11px;
        line-height: 13.13px;
        font-weight: 500;
        font-family: 'SF Pro Rounded';
        text-align: center;
        bottom: 10px;
        left: 135px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }

    .testo2-footer{
        position: fixed;
        color: #6C63FF;
        font-size: 11px;
        line-height: 13.13px;
        font-weight: 500;
        font-family: 'SF Pro Rounded';
        text-align: center;
        bottom: 10px;
        left: 197px;
        text-transform: uppercase;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }*/


   



}
